nav {
  display: flex;
  margin-top: 4%;
  margin-bottom: 6%;
}

nav img {
  width: 150px;
}

nav ul {
  display: flex;
}
nav li {
  display: flex;
  font-size: 6vw;
  margin-left: 10vw;
  color: #88F2F2;
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

body {
  border-color: #732002;
  background-color: #323E40;
  color: #fff;
  border: 2px;
  margin: 10%;
text-decoration: none;

}

main {
  width: 1080px;
  margin: auto;
}

main section button {
  margin-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: coral;
  border: #F2A922;
  border-radius: 4px;
  transition: 150ms;
}

button:hover {
  background-color: #D98014;
}

main img {
  padding: 5%;
  
}

main ul {
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: center;
  background-color: #732002;
}
main li {
  border-radius: 10px;
  padding: 30px;
  color: #732002;
}
main section {
  display: flex;
  background-color: #fff;
  max-width: 980px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
}
main article {
  padding: 5%;
  align-items: center;
  text-align: center;

}
